<!DOCTYPE html>
<html>
<head>
    <title>Top and Bottom Link</title>
</head>
<body>

<a id="top"></a>

<h2>Top of the Page</h2>

<a href="#bottom">Go to Bottom</a>

<br><br>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<a id="bottom"></a>

<h2>Bottom of the Page</h2>

<a href="#top">Go to Top</a>

</body>
</html>